<template>
    <v-app>
        <v-app-bar
            app
            dense
            color="primary"
        >

        </v-app-bar>
        <v-main>
            <v-container fluid>
                <router-view></router-view>
            </v-container>
        </v-main>
        <v-footer app>

        </v-footer>
    </v-app>
</template>
